body {
    height: 100vh;
    background-color: rgb(233, 251, 241);
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.main-container {
    height: 100%;
}

nav {
    background-color: black;
}

.big-header a {
    font-family: 'Libre Barcode 39 Text', sans-serif;
    text-decoration: none;
    color: rgb(152, 251, 152);
    font-size: 1.5em;
}

section > div {
    padding: 4% 0;
}

footer {
    background-color: black;
    color: white;
}

footer a {
    color: white;
}