body {
    height: 100vh;
    background-color: white;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.big-header a {
    font-family: 'Libre Barcode 39 Text', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}