body {
    min-height: 100vh;
    background-color: rgb(233, 251, 241);
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.top-level-container {
    min-height: 100vh;
    padding: 0;
}

nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
}

nav * {
    color: rgb(152, 251, 152);
}

.big-header a {
    font-family: 'Libre Barcode 39 Text', sans-serif;
    text-decoration: none;
    color: rgb(152, 251, 152);
    font-size: 1.5em;
    margin-left: 1.5vw;
}

#link-to-logout, #link-to-login {
    text-decoration: none;
    color: rgb(152, 251, 152);
}

main {
    padding: 3% 0;
}

footer {
    background-color: black;
    color: white;
}

footer a {
    color: white;
}