<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crop Details</title>
</head>
<body>
    <div id="crop-details">
        <h1>Crop Details</h1>
        <div id="crop-type">
            Crop Type: {{ crop.variety.name }}
        </div>
        <div id="tray-size">
            Tray Size: {{ crop.get_tray_size_display }}
        </div>
        <div id="live-delivery">
            Live Delivery: {{ crop.live_delivery }}
        </div>
        <div id="exp-num-germ-days">
            Expected number of germination days: {{ crop.exp_num_germ_days }}
        </div>
        <div id="exp-num-grow-days">
            Expected number of grow days: {{ crop.exp_num_grow_days }}
        </div>
    </div>
    <div id="crop-history">
        <h1>Crop History</h1>
        <div id="current-details">
            <h2>Current Details</h2>
            {% if water %}
            <div id="water-date">
                Last watered: {{ water.datetime }}
            </div>
            {% endif %}
            {% if seed %}
            <div id="seed-date">
                Seeded: {{ seed.datetime }}
            </div>
            {% endif %}
            {% if grow %}
            <div id="grow-date">
                Began Grow Phase: {{ grow.datetime }}
            </div>
            {% endif %}
            {% if harvest %}
            <div id="harvest-date">
                Harvested: {{ harvest.datetime }}
            </div>
            {% endif %}
            {% if delivered %}
            <div id="delivered-date">
                Delivered: {{ delivered.datetime }}
            </div>
            {% endif %}
            {% if trash %}
            <div id="trash-date">
                Trashed: {{ trash.datetime }}
            </div>
            {% endif %}
            {% if returned %}
            <div id="returned-date">
                Returned: {{ returned.datetime }}
            </div>
            {% endif %}
        </div>

        <h2>Notes</h2>
        <table id="notes">
            <row>
            {% for note in notes %}
                <column id="note-date" width='30%'>
                {{ note.datetime }}
                </column>
                <column id="note-text" width='70%'>
                    {{ note.note }}
                </column>
            {% endfor %}
            {% if not notes %}
                Currently no notes
            {% endif %}
            </row>
        </table>
        <h2>All Records</h2>
        <table id="records">
            <tr>
                <th>Time</th>
                <th>Record Type</th>
                <th>Note</th>
            </tr>
            {% for record in history %}
            <tr>
                <td width='20%'>{{ record.datetime|datetime  }}</td>
                <td width='30%'>{{ record.get_record_type_display }}</td>
                <td width='50%'>{{ record.note }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>

