<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home -- BMG</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Comfortaa|Libre+Barcode+39+Text" rel="stylesheet">
    <link rel="stylesheet" href="{% static "inventory/base.css" %}">
</head>
<body>
{% include "inventory/header.html" %}

<div class="main-container container-fluid d-flex flex-column justify-content-around">

    <section id="primary-actions" class="row d-flex justify-content-around">
        <div class="col-2">
            <a id="link-new-crop" href="{% url 'create_crop' %}"><button class="btn btn-dark">New</button></a>
        </div>
        <div class="col-2">
            <a id="link-water-crop" href=""><button class="btn btn-dark">Water</button></a>
        </div>
        <div class="col-2">
            <a id="link-move-crop" href=""><button class="btn btn-dark">Move</button></a>
        </div>
        <div class="col-2">
            <a id="link-harvest-crop" href=""><button class="btn btn-dark">Harvest</button></a>
        </div>
    </section>

    <section id="setup-task-forms" class="row d-flex justify-content-center">
        <div class="col-10 col-lg-4">
            <h2>Set Capacity</h2>
            <form id="form-set-slot-count" method="POST" action="/slot/set_qty">
                {% csrf_token %}
                <div class="form-group">
                    <label for="form-set-slot-count-qty">Current capacity: <b>{{ total_slot_count }} slots.</b></label>
                <input id="form-set-slot-count-qty" type="number" class="form-control" min="{{ total_slot_count }}"
                       name="quantity"
                placeholder="Enter new capacity"/>
                </div>

                <input id="form-set-slot-count-submit" type="submit" class="btn btn-primary" value="Update Capacity"/>
            </form>
        </div>

        <div class="col-10 col-lg-4">
            <h2>New Variety</h2>
            <form id="form-add-variety" method="POST" action="/crop/add_variety">
                {% csrf_token %}

                <div class="form-group">
                <label for="form-add-variety-name">Name:</label>
                <input id="form-add-variety-name" type="text" class="form-control" name="variety-name"
                       placeholder="e.g. Basil"/>
                </div>

                <div class="form-group">
                <label for="form-add-variety-days-to-harvest">Days Until Harvest:</label>
                <input id="form-add-variety-days-to-harvest" type="number" class="form-control" min="1"
                       name="days-to-harvest" placeholder="1"/>
                </div>

                <input id="form-add-variety-submit" type="submit" class="btn btn-primary" value="Add Variety" />
            </form>
        </div>

    </section>
</div>

<footer class="d-flex justify-content-center">
    <a href="https://github.com/boston-microgreens"><p>Made with love by the squad.</p></a>
</footer>
</body>
</html>