<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Crop -- BMG</title>
</head>
<body>
<h1>Add a New Crop</h1>
<form id="form-new-crop" method="post">
    {% csrf_token %}
    <select id="form-new-crop-variety" name="variety">
        {% for variety in variety_list %}
            <option>{{ variety.name }}</option>
        {% endfor %}
    </select>
    <ol id="form-new-crop-tray-size">
        <!-- TODO -- do template to refer to model enum for tray sizes -->
        <li><input type="radio" name="tray-size" value="1020" checked>10" × 20"</li>
        <li><input type="radio" name="tray-size" value="1010">10" × 10"</li>
        <li><input type="radio" name="tray-size" value="0505">5" × 5"</li>
    </ol>
    <ol id="form-new-crop-delivered-live">
        <li><input type="radio" name="delivered-live" value="True" checked>Delivered live</li>
        <li><input type="radio" name="delivered-live" value="False">Harvested on-site</li>
    </ol>
    <label for="form-new-crop-germination-length">Germination Length</label>
        <input id="form-new-crop-germination-length" name="germination-length" type="number" min="1">
    <label for="form-new-crop-grow-length">Grow Length</label>
        <input id="form-new-crop-grow-length" name="grow-length" type="number" min="1">
    <label for="form-new-crop-slot">Slot ID</label>
    <select id="form-new-crop-slot" name="designated-slot-id">
        {% for slot in slot_list %}
            <option>{{ slot.id }}</option>
        {% endfor %}
    </select>
    <input id="form-new-crop-submit" type="submit">
</form>
</body>
</html>