<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slot Details</title>
</head>
<body>
    <h1>Slot Details</h1>
    <div id="current-crop-type">
        Current Crop: <a href="/crop/{{ current_crop.id }}/" id="link-crop-details"> {{ current_crop.variety.name }}</a>
    </div>
    <div id="slot-id">
        Slot ID: {{ slot_id }}
    </div>
    <h4>Slot Actions</h4>
    <form action="/slot/{{ slot_id }}/action/water" method="post">
        {% csrf_token %}
        <input type="submit" value="Water Crop" name="record-watered-crop" id="form-record-watered-crop-submit" />
    </form>

    <form action="/slot/{{ slot_id }}/action/move_tray" method="post">
        {% csrf_token %}
        Destination slot id:
        <select id="form-slot-destination-id" name="slot-destination-id">
            {% for slot in open_slots %}
                <option>{{ slot.id }}</option>
            {% endfor %}
        </select>
        <input id="form-move-tray-submit" value="Move Tray" type="submit">
    </form>

    <form id="form-harvest-crop" action="/slot/{{ slot_id }}/action/harvest" method="post">
        {% csrf_token %}
        <input type="submit" value="Harvest"/>
    </form>

    <form action="/slot/{{ slot_id }}/action/note/" id="form-record-note" method="post">
        {% csrf_token %}
        <textarea name="note" form="form-record-note"></textarea>
        <input type="submit" id="form-record-note-submit"/>
    </form>

    <form action="/slot/{{ slot_id }}/action/trash" method="post">
        {% csrf_token %}
        <input type="submit" value="Trash Crop" name="record-dead-crop" id="form-record-dead-crop-submit" />
    </form>
</body>
</html>