<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slot Details</title>
</head>
<body>
    <h1>Slot Details</h1>
    <div id="current-crop-type">
        Current Crop: <a href="/crop/{{ current_crop.id }}/" id="link-crop-details"> {{ current_crop.variety.name }}</a>
    </div>
    <div id="slot-id">
        Slot ID: {{ slot_id }}
    </div>
    <h4>Slot Actions</h4>
    <form action="/slot/{{ slot_id }}/action/trash" method="post">
        {% csrf_token %}
        <input type="submit" value="Trash Crop" name="record-dead-crop" id="form-record-dead-crop-submit" />
    </form>
    <form action="/slot/{{ slot_id }}/action/water" method="post">
        {% csrf_token %}
        <input type="submit" value="Water Crop" name="record-watered-crop" id="form-record-watered-crop-submit" />
    </form>
    <form action="/slot/{{ slot_id }}/action/move_tray/" method="get">
        {% csrf_token %}
        <input type="submit" value="Move Tray" name="move-tray" id="button-move-tray-submit" />
    </form>
</body>
</html>