{% extends 'base.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function getFormFields() {
            $("#extra-form-fields").empty()
            var productType = document.getElementById("select-product-type");
            if (productType.value == 'Live Crop Product') {
                var variety_input = "<select id=\"variety-input\" class=\"form-control\"></select>"
                var size_input = "<select id=\"size-input\" class=\"form-control\"></select>"
                var tray_type_input ="<select id=\"tray-input\" class=\"form-control\"></select>"
                $("#extra-form-fields").append("<label for=\"#variety-input\">Variety: </label>", variety_input)
                $("#extra-form-fields").append("<label for=\"#size-input\">Size: </label>", size_input)
                $("#extra-form-fields").append("<label for=\"#tray-input\">Tray Type: </label>", tray_type_input)
                for (let v of {{ varieties|safe }}) {
                    $("#variety-input").append("<option>"+ v +"</option>")
                }
                for (let v of {{ tray_types|safe }}) {
                        $("#tray-input").append("<option>"+ v +"</option>")
                    }
                for (let v of {{ sizes|safe }}) {
                        $("#size-input").append("<option>"+ v +"</option>")
                    }
            }
            else if (productType.value == 'Harvested Crop Product') {
                var variety_input = "<select id=\"variety-input\" class=\"form-control\"></select>"
                var size_input = "<select id=\"size-input\" class=\"form-control\"></select>"
                var weight_input = "<input id=\"weight-input\" class=\"form-control\" type=\"number\" placeholder=\"3oz\">"
                $("#extra-form-fields").append("<label for=\"#variety-input\">Variety: </label>", variety_input)
                $("#extra-form-fields").append("<label for=\"#size-input\">Size: </label>", size_input)
                $("#extra-form-fields").append("<label for=\"#weight-input\">Weight: </label>", weight_input)
                for (let v of {{ varieties|safe }}) {
                    $("#variety-input").append("<option>" + v + "</option>")
                }
                for (let v of {{ sizes|safe }}) {
                    $("#size-input").append("<option>" + v + "</option>")
                }
            }
        }
    </script>
    <h1>Add Product</h1>
    <form id="form-add-product" method="post">
        {% csrf_token %}
        {{ product_form.as_p }}
        <select id="select-product-type" class="form-control" onchange="getFormFields()">
            <option selected>Other Product</option>
            <option>Live Crop Product</option>
            <option>Harvested Crop Product</option>
        </select>
        <br>
        <div id="extra-form-fields"></div>
    </form>
{% endblock %}
