{% extends 'base.html' %}

{% block title %}Add Crop Attributes and Options{% endblock %}

{% block content %}
    <div class="col-12 row d-flex justify-content-center">
        <div class="col-10 col-lg-4">
            <h2>Add Crop Attributes</h2>
            <form id="form-add-crop-attributes" method="POST" action="/crop/attributes">
                {% csrf_token %}
                <div class="form-group">
                    {{ add_attributes_form.as_p }}
                </div>

                <input id="form-add-crop-attributes-submit" type="submit" class="btn btn-primary"/>
            </form>
        </div>
        <div class="col-10 col-lg-4">
            <h2>Add Attribute Options</h2>
            <form id="form-add-attribute-options" method="POST" action="/crop/options">
                {% csrf_token %}
                <div class="form-group">
                    {{ attribute_options_form.as_p }}
                    <input id="form-add-attribute-options-submit" type="submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}