{% extends 'base.html' %}

{% block title %}Crop Details{% endblock %}

{% block extrahead %}
    {{ crop_record_form.media }}
{% endblock %}

{% block content %}
    <div id="crop-details" class="jumbotron col-10 col-lg-8 row d-flex">
        <div class="col-12 col-md-6">
            <h1>Crop Details</h1>
            <div id="crop-variety">
                Variety: {{ crop.variety.name }}
            </div>
            <div id="day-planted">
                Day Planted: {{ seed.date }}
            </div>
            <div id="days-germinated">
                Days Germinated:
                {#                Days Germinated: {{ crop.germ_days }}#}
            </div>
            <div id="water-date">
                Last watered: {{ water.date|default:"Never" }}
            </div>
            <div id="tray-size">
                Tray Size: {{ crop.get_tray_size_display }}
            </div>
            {% if harvest %}
                <div id="harvest-date">
                    Harvested: {{ harvest.date }}
                </div>
            {% endif %}
            {% if trash %}
                <div id="trash-date">
                    Trashed: {{ trash.date }}
                </div>
            {% endif %}
        </div>

    </div>
    <div id="crop-history" class="col-10 col-lg-8">
        <h1>Crop History</h1>
        <table id="records" class="table">
            <tr>
                <th>Date</th>
                <th>Record Type</th>
                <th>Note</th>
            </tr>
            {% for record in history %}
                {% if edit and record_id == record.id %}
                    <form id="form-edit-crop-record" action="/record/{{ record.id }}/edit" method="POST">
                        {% csrf_token %}
                        <tr>

                            <td width='20%'><input id="form-edit-crop-record-date" value="{{ record.date }}" name="date"/></td>
                            <td width='30%'>{{ record.get_record_type_display }}</td>
                            <td width='40%'><textarea name="note" id="form-edit-crop-record-note" form="form-edit-crop-record">{{ record.note }}</textarea></td>
                            <td width='5%'><input id="form-edit-crop-record-submit" type="submit" class="btn btn-primary" value="Save"/></td>
                            <td width='5%' id="cancel_edit"><a href="/crop/{{ crop.id }}/">Cancel</a></td>
                        </tr>
                    </form>
                {% else %}
                    <tr>
                    <td width='20%'>{{ record.date }}</td>
                    <td width='40%'>{{ record.get_record_type_display }}</td>
                    <td width='40%'>{{ record.note|default:"None" }}</td>
                {% endif %}
            {% if not edit %}
                <td width='5%' id="edit_record_{{ record.id }}"><a href="/crop/{{ crop.id }}/?edit=True&id={{ record.id }}">Edit</a></td>
                <td width='5%' id="delete_record_{{ record.id }}"><a href="/record/{{ record.id }}/delete">Delete</a></td>
            {% endif %}
            </tr>
            {% endfor %}
        </table>

        <div id="add-crop-record" class="col-12">
            <h1>Add Crop Record</h1>
            <form id="form-add-crop-record" action="/crop/{{ crop.id }}/record" method="POST">
                {% csrf_token %}
                {{ crop_record_form.as_p }}
                <input id="form-add-crop-record-submit" type="submit" class="btn btn-primary" value="Add Crop Record"/>
            </form>
        </div>
    </div>
{% endblock %}

