{% extends 'base.html' %}

{% block title %}Crop Details{% endblock %}

{% block content %}
    <div id="crop-details" class="jumbotron col-10 col-lg-8 row d-flex">
        <div class="col-12 col-md-6">
            <h1>Crop Details</h1>
            <div id="crop-type">
                Crop Type: {{ crop.variety.name }}
            </div>
            <div id="tray-size">
                Tray Size: {{ crop.get_tray_size_display }}
            </div>
            <div id="live-delivery">
                Live Delivery: {{ crop.live_delivery }}
            </div>
            <div id="exp-num-germ-days">
                Expected number of germination days: {{ crop.exp_num_germ_days }}
            </div>
            <div id="exp-num-grow-days">
                Expected number of grow days: {{ crop.exp_num_grow_days }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div id="current-details">
                <h2>Recent Activity</h2>
                <div id="water-date">
                    Last watered: {{ water.date|default:"Never" }}
                </div>
                <div id="seed-date">
                    Seeded: {{ seed.date|default:"Never" }}
                </div>
                <div id="grow-date">
                    Sprouted: {{ grow.date|default:"Never" }}
                </div>
                {% if harvest %}
                    <div id="harvest-date">
                        Harvested: {{ harvest.date }}
                    </div>
                {% endif %}
                {% if delivered %}
                    <div id="delivered-date">
                        Delivered: {{ delivered.date }}
                    </div>
                {% endif %}
                {% if trash %}
                    <div id="trash-date">
                        Trashed: {{ trash.date }}
                    </div>
                {% endif %}
                {% if returned %}
                    <div id="returned-date">
                        Returned: {{ returned.date }}
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
    <div id="crop-history" class="col-10 col-lg-8">
        <h1>Crop History</h1>
        <table id="records" class="table">
            <tr>
                <th>Date</th>
                <th>Record Type</th>
                <th>Note</th>
            </tr>
            {% for record in history %}
                {% if edit and record_id == record.id %}
                    <form id="form-edit-crop-record" action="/record/{{ record.id }}/edit" method="POST">
                        {% csrf_token %}
                        <tr>

                            <td width='20%'><input id="form-edit-crop-record-date" value="{{ record.date }}" name="date"/></td>
                            <td width='30%'>{{ record.get_record_type_display }}</td>
                            <td width='40%'><textarea name="note" id="form-edit-crop-record-note" form="form-edit-crop-record">{{ record.note }}</textarea></td>
                            <td width='5%'><input id="form-edit-crop-record-submit" type="submit" class="btn btn-primary" value="Submit"/></td>
                            <td width='5%' id="delete_record_{{ record.id }}"><a href="/record/{{ record.id }}/delete">Delete</a></td>
                        </tr>
                    </form>
                {% else %}
                    <tr>
                    <td width='20%'>{{ record.date }}</td>
                    <td width='30%'>{{ record.get_record_type_display }}</td>
                    <td width='40%'>{{ record.note|default:"None" }}</td>
                {% endif %}
            {% if not edit %}
                <td width='5%' id="edit_record_{{ record.id }}"><a href="/crop/{{ crop.id }}/?edit=True&id={{ record.id }}">Edit</a></td>
                <td width='5%' id="delete_record_{{ record.id }}"><a href="/record/{{ record.id }}/delete">Delete</a></td>
            {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="add-crop-record" class="col-8">
        <h1>Add Crop Record</h1>
        <form id="form-add-crop-record" action="/crop/{{ crop.id }}/record" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="form-new-crop-record-type">Record Type</label>
                <select id="form-new-crop-record-type" name="record-type" class="form-control">
                    {% for record_type in record_types %}
                        <option>{{ record_type }}</option>
                    {% endfor %}
                </select>
                <label for="form-new-crop-record-date">Record Date</label>
                <input id="form-add-crop-record-date" type="datetime-local" class="form-control" name="date"/>
                <label for="form-new-crop-record-Note">Record Note</label>
                <br>
                <textarea name="note" id="form-add-crop-record-note" form="form-add-crop-record"
                          placeholder="Add Note about crop record here"></textarea>
            </div>
            <input id="form-add-crop-record-submit" type="submit" class="btn btn-primary" value="Add Crop Record"/>
        </form>
    </div>
{% endblock %}

