{% extends 'base.html' %}

{% block title %}Crop Details{% endblock %}

{% block extrahead %}
    {{ crop_record_form.media }}
{% endblock %}

{% block content %}
    <div id="crop-details" class="jumbotron col-10 col-lg-8 row d-flex">
        <div class="col-12 col-md-6">
            <h1>Crop Details</h1>
            <div id="crop-variety">
                Variety: {{ crop.variety.name }}
            </div>
            <div id="day-planted">
                Day Planted: {{ seed.date }}
            </div>
            <div id="days-germinated">
                Days Germinated:
                {#                Days Germinated: {{ crop.germ_days }}#}
            </div>
            <div id="water-date">
                Last watered: {{ water.date|default:"Never" }}
            </div>
            <div id="tray-size">
                Tray Size: {{ crop.get_tray_size_display }}
            </div>
            {% if harvest %}
                <div id="harvest-date">
                    Harvested: {{ harvest.date }}
                </div>
            {% endif %}
            {% if trash %}
                <div id="trash-date">
                    Trashed: {{ trash.date }}
                </div>
            {% endif %}
        </div>

    </div>
    <div id="crop-history" class="col-10 col-lg-8">
        {% include 'inventory/crop_history.html' %}

        <div class="col-12">
                <form id="form-crop-notes" action="/crop/{{ crop.id }}/record_notes" method="POST">
                    {% csrf_token %}
                    {{ notes_form.as_p }}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input id="crop-notes-form-submit" class="btn btn-primary" type="submit" value="Update">
                </form>
        </div>
        <br/>
        <div id="add-crop-record" class="col-12">
            <h1>Add Crop Record</h1>
            <form id="form-add-crop-record" action="/crop/{{ crop.id }}/record" method="POST">
                {% csrf_token %}
                {{ crop_record_form.as_p }}
                <input id="form-add-crop-record-submit" type="submit" class="btn btn-primary" value="Add Crop Record"/>
            </form>
        </div>
    </div>
{% endblock %}

