{% extends 'base.html' %}
{% load static %}

{% block title %}Temp & Humidity Data From Arduinos {% endblock %}

{% block content %}
    <h3>Live temperature and humidity data from Arduinos</h3>

    {% include 'inventory/highchart.html' %}
    <script src="/static/highcharts/environment_data.js"></script>

    <script language="JavaScript">
        // Create the charts
        createChart("Rack Data", rack_channel, weather_channel);
        createChart("Germ Data", germ_channel, weather_channel);
    </script>
{% endblock %}
