{% extends 'base.html' %}

{% block title %}Growhouse Config{% endblock %}

{% block content %}
    <div class="col-12 row d-flex justify-content-center">
        <div class="col-10 col-lg-4">
            <h2>Add Racks</h2>
            <p>Current capacity: <b>{{ total_slot_count }}</b> slots</p>
            <form id="form-set-slot-count" method="POST" action="/slot/set_qty">
                {% csrf_token %}
                <div class="form-group">
                    <label for="form-set-phase">Growth phase</label>
                    <select id="form-set-phase" name="phase" class="form-control">
                        <option value="S">Germination</option>
                        <option value="G" selected>Grow</option>
                    </select>

                    <label for="form-set-rack-count">Number of new racks</label>
                    <input id="form-set-rack-count" type="number" class="form-control" min="1"
                            name="racks"
                            placeholder="Enter number of new racks"/>

                    <label for="form-set-row-count">Rows per rack</label>
                    <input id="form-set-row-count" type="number" class="form-control" min="1" max="99"
                            name="rows"
                            placeholder="Enter number of rows per rack"/>

                    <label for="form-set-slots-per-row">Slots per row</label>
                    <input id="form-set-slots-per-row" type="number" class="form-control" min="1" max="99"
                            name="slots"
                            placeholder="Enter number of slots per row"/>
                </div>

                <input id="form-set-slot-count-submit" type="submit" class="btn btn-primary" value="Update Capacity"/>
            </form>
        </div>
        <div class="col-10 col-lg-4">
            <h2>New Variety</h2>
            <form id="form-add-variety" method="POST" action="/crop/add_variety">
                {% csrf_token %}
                {{ form.as_p }}
                <input id="form-add-variety-submit" type="submit" class="btn btn-primary" value="Add Variety"/>
            </form>
        </div>
    </div>

{% endblock %}