{% extends 'base.html' %}

{% block title %}Growhouse Config{% endblock %}

{% block content %}
    <div class="col-12 row d-flex justify-content-center">
        <div class="col-10 col-lg-4">
            <h2>Set Capacity</h2>
            <form id="form-set-slot-count" method="POST" action="/slot/set_qty">
                {% csrf_token %}
                <div class="form-group">
                    <label for="form-set-slot-count-qty">Current capacity: <b>{{ total_slot_count }} slots.</b></label>
                    <input id="form-set-slot-count-qty" type="number" class="form-control" min="{{ total_slot_count }}"
                           name="quantity"
                           placeholder="Enter new capacity"/>
                </div>

                <input id="form-set-slot-count-submit" type="submit" class="btn btn-primary" value="Update Capacity"/>
            </form>
        </div>

        <div class="col-10 col-lg-4">
            <h2>New Variety</h2>
            <form id="form-add-variety" method="POST" action="/crop/add_variety">
                {% csrf_token %}
                {{ form.as_p }}
                <input id="form-add-variety-submit" type="submit" class="btn btn-primary" value="Add Variety"/>
            </form>
        </div>
    </div>

{% endblock %}