{% extends 'base.html' %}

{% block title %}Kill{% endblock %}

{% block content %}
    <div>
        <h1>Kill</h1>
    </div>
    <div id="inventory_form">
        <form id="form-kill" method="post">
            {% csrf_token %}
            <label for="form-kill-variety">Variety</label>
            <select id="form-kill-variety" name="form-kill-variety" class="form-control">
                {% for variety in variety_list %}
                    <option>{{ variety.name }}</option>
                {% endfor %}
            </select>
        <br>
            <label for="form-kill-quantity"># Trays or Punnets</label>
            <input id="form-kill-quantity" name="form-kill-quantity" class="form-control"
                type="number" min=0>
            <label for="form-kill-reason">Reason</label>
            <br>
{#            <textarea name="form-kill-reason" id="form-kill-reason" form="form-kill"></textarea>#}
            <select id="form-kill-reason" name="form-kill-reason" class="form-control" form="form-kill">
                {% for reason in reason_list %}
                    <option>{{ reason.name }}</option>
                {% endfor %}
            </select>
            <br>
            <input id="form-kill-submit" type="submit" class="btn btn-primary" value="Accept">
        </form>
    </div>
{% endblock %}

