{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}

{% block content %}
    <div>
        <h1>Inventory</h1>
    </div>
    <div>
        <table id="inventory_links" class="table">
            <tr>
                <td width='30%'><a href="{% url "inventory_seed" %}" class="btn btn-default">SEED</a></td>
                <td width='30%'><a href="{% url "inventory_overview" %}" class="btn btn-default">KILL</a></td>
                <td width='30%'><a href="{% url "inventory_overview" %}" class="btn btn-default">HARVEST</a></td>
            </tr>
            <tr>
                <td width='100%'><a href="{% url "inventory_overview" %}" class="btn btn-default">OVERVIEW</a></td>
            </tr>
        </table>
    </div>
{% endblock %}
