{% extends 'base.html' %}

{% block title %}Weekday Seed Plan{% endblock %}

{% block content %}
    <div>
        <h1>Weekday Seed Plan</h1>
    </div>
    <div id="greenhouse_inventory">
        <form id="form-plan" method="post"  data-weekday-autofill-url="{% url 'weekday_autofill' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="form-plan-day">Weekday</label>
                <select id="form-plan-day" name="day" class="form-control" onchange="autofill_weekday()">
                    {% for wd in weekdays %}
                        {% if wd.0 == day %}
                            <option value='{{ wd.0 }}' selected>{{ wd.1 }}</option>
                        {% else %}
                        <option value='{{ wd.0 }}'>{{ wd.1 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <table id="inventory" class="table">
                <tr>
                    <th>Variety</th>
                    <th># Trays</th>
                </tr>
                {% for variety in variety_list %}
                <tr>
                    <td width='40%'>{{ variety.0.name }}</td>
                    <td width='20%'><input id="form-plan-{{variety.1}}-quantity" name="form-plan-{{variety.1}}-quantity" class="form-control"
                        type="number"  ></td>
                </tr>
                {% endfor %}
            </table>
            <input id="form-plan-submit" type="submit" class="btn btn-primary" value="Accept">
        </form>
    </div>
{% endblock %}

