{% extends 'base.html' %}

{% block title %}Seed{% endblock %}

{% block content %}
    <div>
        <h1>Seeding:</h1>
    </div>
    <div id="greenhouse_inventory" width='40%'>
        <form id="form-plan" method="post" data-weekday-autofill-url="{% url 'weekday_autofill' %}" data-clear-seeding-url="{% url 'weekday_autofill' %}">
                {% csrf_token %}
            <input id="form-seed-date" name="day" value="{{ day }}" class="form-control" type="date" onchange="autofill_weekday()" >
        <br>
            <input id="form-seed-clear" type="button" class="btn btn-primary" value="Clear Values" onclick="clear_seeding_values()">
            <table id="inventory" class="table">
                <tr>
                    <th></th>
                    <th># Trays or Punnets</th>
                </tr>
                {% for variety in variety_list %}
                <tr>
                    <td width='40%'>{{ variety.0.name }}</td>
                    <td width='20%'><input id="form-plan-{{variety.1}}-quantity" name="form-plan-{{variety.1}}-quantity" class="form-control"
                        type="number"></td>
                </tr>
                {% endfor %}
            </table>
            <input id="form-seed-submit" type="submit" class="btn btn-primary" value="Accept">
        </form>
    </div>
{% endblock %}

