{% extends 'base.html' %}

{% block title %}Kill{% endblock %}

{% block content %}
    <div>
        <h1>Kill</h1>
    </div>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <div id="inventory_form">
        <div id="kill-form">
            <form id="form-kill" method="post">
                {% csrf_token %}
{#                {{ kill_form.as_p }}#}
                <div class="form-group">
                    <label for="form-kill-variety">Variety</label>
                    <select id="form-kill-variety" name="form-kill-variety" class="form-control">
                        {% for variety in variety_list %}
                            <option>{{ variety.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="form-kill-date"># Date Killed </label>
                    <input id="form-kill-date" name="form-kill-date" value="{{ day }}" class="form-control" type="date" >
                </div>
                <div class="form-group">
                    <label for="form-kill-seed-date"># Date Seeded </label>
                    <input id="form-kill-seed-date" name="form-kill-seed-date" class="form-control" type="date" >
                </div>
                <div class="form-group">
                    <label for="form-kill-quantity"># Trays or Punnets</label>
                    <input id="form-kill-quantity" name="form-kill-quantity" class="form-control"
                        type="number" min=0>
                </div>
                <div class="form-group">
                    <label for="form-kill-reason">Reason</label>
                    {% for reason in reason_list %}
                        <div class="checkbox">
                            <label><input id="{{ reason.name }}-checkbox" name="{{ reason.name }}-checkbox" type="checkbox"> {{ reason.name }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <input id="form-kill-submit" type="submit" class="btn btn-primary" value="Accept">
                </div>
        </form>
        </div>
    </div>
{% endblock %}

