{% block content %}
    <h1>Search Crop Availability</h1>
    <div>
        <form id="form-search-crops" method="post" action="/inventory/crop_availability">
        {% csrf_token %}
        {{ crop_availability_form.as_p }}
                <input type="submit" value="Go" class="btn btn-primary">
        </form>
        {% if crop_groups %}
            <table id="crop-availability-results">
                <th>Seed Date</th>
                <th># Trays or Punnets</th>
                {% for crop_group in crop_groups %}
                    <tr>
                        <td width='40%'>{{ crop_group.seed_date }}</td>
                        <td width='20%'>{{ crop_group.quantity }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}