{% extends 'base.html' %}

{% block title %}Harvest{% endblock %}

{% block content %}
    <div>
        <h1>Harvest: Single Variety</h1>
    </div>
    <div id="inventory_form">
        <form id="form-harvest" method="post">
            {% csrf_token %}
            <label for="form-harvest-date">Date</label>
            <input id="form-harvest-date" name="form-harvest-date" class="form-control" 
                type="date" value='{{ today }}'>
            <label for="form-harvest-variety">Variety</label>
            <select id="form-harvest-variety" name="form-harvest-variety" class="form-control">
                {% for variety in variety_list %}
                    <option>{{ variety.name }}</option>
                {% endfor %}
            </select>
            <label for="form-harvest-big"># Big</label>
            <input id="form-harvest-big" name="form-harvest-big" class="form-control" 
                type="number" min=0>
            <label for="form-harvest-medium"># Medium</label>
            <input id="form-harvest-medium" name="form-harvest-medium" class="form-control" 
                type="number" min=0>
            <label for="form-harvest-small"># Small</label>
            <input id="form-harvest-small" name="form-harvest-small" class="form-control" 
                type="number" min=0>
            <label for="form-harvest-yield">Yield (oz)</label>
            <input id="form-harvest-yield" name="form-harvest-yield" class="form-control" 
                type="number" step="0.01" min=0>
            <br>
            <input id="form-harvest-submit" type="submit" class="btn btn-primary" value="Accept">
        </form>
    </div>
{% endblock %}

