{% extends 'base.html' %}

{% block title %}Harvest{% endblock %}

{% block content %}
    <div>
        <h1>Harvest: Bulk</h1>
    </div>
    <div id="greenhouse_inventory">
        <form id="form-harvest" method="post">
            {% csrf_token %}
            <label for="form-harvest-date">Date</label>
            <input id="form-harvest-date" name="form-harvest-date" class="form-control" 
                type="date" value='{{ today }}'>
            <table id="inventory" class="table">
                <tr>
                    <th>Variety</th>
                    <th># Trays or Punnets</th>
                </tr>
                {% for variety in variety_list %}
                <tr>
                    <td width='40%'>{{ variety.name }}</td>
                    <td width='20%'><input id="form-harvest-{{variety.name}}-quantity" name="form-harvest-{{variety.name}}-quantity" class="form-control"
                        type="number"  min=0></td>
                </tr>
                {% endfor %}
            </table>
            <input id="form-harvest-submit" type="submit" class="btn btn-primary" value="Accept">
        </form>
    </div>
{% endblock %}

