{% extends 'base.html' %}

{% block title %}Greenhouse Inventory{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Overview</h1>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="jumbotron">
                <div id="greenhouse_inventory" class="row">
                    <div class="container">
                            <div class="row">
                                <div class="col-md"><h4>Variety </h4></div>
                                <div class="col-md"><h4># Trays </h4></div>
                            </div>
                            {% for variety in in_house.values %}
                            <div class="row">
                                <div class="col-md">
                                    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#{{ variety.name_alphanumeric }}-collapse" aria-expanded="false" aria-controls="{{ variety.name_alphanumeric }}-collapse">
                                        {{ variety.name }}
                                    </button>
                                </div>
                                <div class="col-md">{{ variety.total_trays }}</div>
                            </div>
                            <div class="collapse" id='{{ variety.name_alphanumeric }}-collapse'>
                                <div class="card card-body">
                                    <table id="crop-availability-results">
                                        <th>Seed Date</th>
                                        <th># Trays or Punnets</th>
                                        {% for crop_group in variety.crop_groups %}
                                            <tr>
                                                <td>{{ crop_group.seed_date }}</td>
                                                <td>{{ crop_group.quantity }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
    </div>
    <div class="col">
        {% include 'inventory/inventory_chart.html' %}
    </div>
    <script src="/static/highcharts/inventory_chart.js"></script>
    <script>createInventoryChart({{ chart_series|safe }}, {{ variety_list|safe }})</script>
    </div>
</div>
{% endblock %}

