{% extends 'base.html' %}
{% load static %}

{% block title %}New Crop{% endblock %}

{% block extrahead %}
{{ new_crop_form.media }}
{% endblock %}

{% block content %}
    <div class="col-10 col-lg-6 col-xl-4">
    <form id="form-auto-fill-crop" method="GET">
        <div class="form-group">
                    <label for="form-auto-fill-crop">Barcode</label>
                    <button type="button" class="auto-fill-crop btn btn-primary"
                                        id="form-auto-fill-barcode-btn">Scan Slot</button>
                    <input type="text" id="form-auto-fill-barcode-input" class="form-control" name="autofill-barcode"
                                   placeholder="Or type the barcode here">
            </div>
        <input id="form-auto-fill-submit" type="submit" class="btn btn-primary" value="Auto-fill Data">
        </form>
        <br/>
        <h1>Add a New Crop</h1>
        <form id="form-new-crop" method="post" data-variety-autofill-url="{% url 'variety_autofill' %}">
            {% csrf_token %}
            {{ new_crop_form.as_p }}
            <div class="form-group">
                    <label for="form-new-crop-barcode-input">Location</label>
                    <button type="button" class="select-scan btn btn-primary"
                                        id="form-new-crop-barcode-btn">Scan Slot</button>
                    <input type="text" id="form-new-crop-barcode-input" class="form-control" name="slot-barcode"
                                   placeholder="Or type the barcode here" value={{ barcode }}>
            </div>
            <input id="form-new-crop-submit" type="submit" class="btn btn-primary" value="Create New Crop">
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "barcode/barcodeEvent.js" %}"></script>
    <script src="{% static "barcode/newCropController.js" %}"></script>
{% endblock %}