{% extends 'base.html' %}

{% block title %}Sanitation Records{% endblock %}

{% block content %}

    <div id="sanitation-records" class="col-10 col-lg-8">
        <h1>Sanitation Records</h1>
        <table id="records" class="table">
            <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Equipment Cleaned</th>
                <th>Chemicals Used</th>
                <th>Note</th>
            </tr>
            {% for record in record_list %}
                <tr>
                <td width='20%'>{{ record.date }}</td>
                <td width='15%'>{{ record.employee_name }}</td>
                <td width='20%'>{{ record.equipment_sanitized }}</td>
                <td width='20%'>{{ record.chemicals_used }}</td>
                <td width='25%'>{{ record.note }}</td>
            {% endfor %}
            </tr>
        </table>
    </div>
    <div id="add-sanitation-record" class="col-10 col-lg-8">
        <h1>Add Sanitation Record</h1>
        <form action="POST">
            <div class="form-group">
                {% csrf_token %}
                {{ form }}
                <br>
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}

