{% extends 'base.html' %}

{% block title %}Slot Details{% endblock %}

{% block content %}
    <div class="col-10 col-lg-8">
        <div class="row d-flex justify-content-between jumbotron">
            <div class="col-12 col-md-4">
                <h1 id="slot-id">Slot #{{ slot_id }}</h1>
            </div>
            <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                <div id="current-crop-type">
                    <h2>Current Crop:
                    {% if current_crop %}
                        <a href="/crop/{{ current_crop.id }}/" id="link-crop-details"> {{ current_crop.variety.name }}</a>
                    {% else %}
                        None
                    {% endif %}</h2>
                </div>

                {% if current_crop %}
                <form id="form-water-crop" action="/slot/{{ slot_id }}/action/water" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="submit" value="Water The Crop" name="record-watered-crop"
                               class="btn btn-primary btn-lg" id="form-record-watered-crop-submit"/>
                    </div>
                </form>

                <form id="form-harvest-crop" action="/slot/{{ slot_id }}/action/harvest" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="form-harvest-tray-submit" type="submit" value="Harvest The Crop"
                               class="btn btn-primary btn-lg"/>
                    </div>
                </form>
                {% endif %}

            </div>
        </div>

        <div class="row d-flex flex-column">
            {% if current_crop %}
                <h2>More Actions</h2>

                <h3>Move the Tray</h3>
                <form action="/slot/{{ slot_id }}/action/move_tray" method="post" id="form-move-tray">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="form-move-tray-destination-id">Destination</label>
                        <select id="form-move-tray-destination-id" name="slot-destination-id" class="form-control">
                            {% for slot in open_slots %}
                                <option>{{ slot.id }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="select-scan" id="move-slot-form-barcode-input">Scan Slot Destination</button>
                    </div>

                    <input id="form-move-tray-submit" value="Move The Tray" type="submit"
                           class="btn btn-primary btn-lg">
                </form>

                <h3>Record a Note</h3>
                <form action="/slot/{{ slot_id }}/action/note" id="form-record-note" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="note" id="form-record-note-text" form="form-record-note"
                                  placeholder="E.g.: Feed me Seymour..."></textarea>
                    </div>
                    <input type="submit" id="form-record-note-submit" value="Record A Note"
                           class="btn btn-primary btn-lg"/>
                </form>

                <h3>Trash the Crop</h3>
                <form action="/slot/{{ slot_id }}/action/trash" method="post" id="form-record-dead-crop">
                    {% csrf_token %}

                    <div class="form-group">
                        <textarea name="reason-for-trash-text" id="form-record-dead-crop-reason"
                                  form="form-record-dead-crop" placeholder="E.g.: Eaten by Desi"></textarea>
                    </div>
                    <input type="submit" value="Trash The Crop" id="form-record-dead-crop-submit"
                           class="btn btn-primary btn-lg"/>
                </form>

            {% else %}
                <p id="empty-slot">Would you like to
                    <a id="link-new-crop" href="{% url 'create_crop' %}">place a new crop</a> here?</p>
            {% endif %}
        </div>
    </div>
{% endblock %}