{% extends 'base.html' %}
{% load static %}

{% block title %}Slot Details{% endblock %}

{% block content %}
    <div class="col-12 col-lg-8 col-sm-10">
        <div class="row d-flex justify-content-between jumbotron">
            <div class="col-12 col-md-4">
                <h1 id="slot-id">Slot #{{ slot_id }}</h1>
                {% if crop %}
                    <div id="date-in-germ">
                        Began Germ: {{ crop.germ_date }}
                    </div>
                    <div id="date-in-grow">
                        Began Grow Phase: {{ crop.grow_date }}
                    </div>
                    <div id="days-germinated">
                        Days in Germ: {{ crop.days_in_germ }}
                    </div>
                    <div id="water-date">
                        Last watered: {{ water.date|default:"Never" }}
                    </div>
                    {% for attribute in crop_attributes %}
                        <div id="{{ attribute.0 }}">
                            {{ attribute.0 }}: {{ attribute.1 }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-12 col-md-6">
                <div id="current-crop-type">
                    <h2>Current Crop:
                        {% if crop %}
                            <a href="/crop/{{ crop.id }}/" id="link-crop-details"> {{ crop.variety.name }}</a>
                        {% else %}
                            None
                        {% endif %}</h2>
                </div>

                {% if crop %}
                    <form id="form-water-crop" action="/slot/{{ slot_id }}/action/water" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="submit" value="Water The Crop" name="record-watered-crop"
                                   class="btn btn-primary btn-lg" id="form-record-watered-crop-submit"/>
                        </div>
                    </form>
                    <div class="form-group">
                        <input id="form-harvest-tray-submit" data-toggle="modal" data-target="#form-harvest-crop-modal"
                               value="Harvest The Crop"
                               class="btn btn-primary btn-lg"/>
                    </div>
                    <input id="form-record-dead-crop-submit" data-toggle="modal" data-target="#form-record-dead-crop-modal"
                           value="Trash The Crop"
                           class="btn btn-primary btn-lg"/>
                    // Edit Crop Button
                    <div class="form-group">
                        <input id="form-edit-crop-submit" data-toggle="modal" data-target="#form-edit-crop-modal"
                               value="Edit The Crop"
                               class="btn btn-primary btn-lg"/>
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="modal fade" id="form-record-dead-crop-modal" tabindex="-1" role="dialog" aria-labelledby="harvest-crop-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Trash Crop</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div id="form-modal-body" class="modal-body">
                        <form action="/slot/{{ slot_id }}/action/trash" method="post" id="form-record-dead-crop">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Reason For Trashing:</label>
                                <textarea class="form-control" name="reason-for-trash-text" id="form-record-dead-crop-reason"
                                          form="form-record-dead-crop" placeholder="E.g.: Eaten by Desi"></textarea>
                            </div>
                            <input type="submit" value="Submit" id="form-record-dead-crop-submit"
                                   class="btn btn-primary btn-lg"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="form-harvest-crop-modal" tabindex="-1" role="dialog" aria-labelledby="harvest-crop-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Harvest Crop</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div id="form-modal-body" class="modal-body">
                        <form action="/slot/{{ slot_id }}/action/harvest" method="POST" id="form-harvest-crop">
                            {% csrf_token %}
                            {{ harvest_crop_form.as_p }}
                            <input type="submit" value="Submit" id="form-harvest-crop"
                                   class="btn btn-primary btn-lg"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        // Edit Crop Form
        <div class="modal fade" id="form-edit-crop-modal" tabindex="-1" role="dialog" aria-labelledby="edit-crop-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Crop</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div id="form-modal-body" class="modal-body">
                        <form action="/slot/{{ slot_id }}/action/edit" method="POST" id="form-edit-crop">
                            {% csrf_token %}
                            {{ edit_crop_form.as_p }}
                            <input type="submit" value="Submit" id="form-edit-crop"
                                   class="btn btn-primary btn-lg"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            {% if crop %}
                <form id="form-crop-notes" action="/crop/{{ crop.id }}/record_notes" method="POST">
                    {% csrf_token %}
                    {{ notes_form.as_p }}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input id="crop-notes-form-submit" class="btn btn-primary" type="submit" value="Update">
                </form>
            {% else %}
                <h2 id="empty-slot">Would you like to
                    <a id="link-new-crop" href="/crop/new/?barcode={{ barcode }}">place a new crop</a> here?</h2>
            {% endif %}
        </div>
        <br>
        {% include 'inventory/crop_history.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "barcode/barcodeEvent.js" %}"></script>
    <script src="{% static "barcode/slotDetailController.js" %}"></script>
{% endblock %}