{% extends 'base.html' %}
{% load static %}

{% block title %}Slot Details{% endblock %}

{% block content %}
    <div class="col-12 col-lg-8 col-sm-10">
        <div class="row d-flex justify-content-between jumbotron">
            <div class="col-12 col-md-4">
                <h1 id="slot-id">Slot #{{ slot_id }}</h1>
                <div id="crop-variety">
                    Variety: {{ crop.variety.name }}
                </div>
                <div id="day-planted">
                    Day Planted: {{ seed.date }}
                </div>
                <div id="days-germinated">
                    Days Germinated:
                    {#                Days Germinated: {{ crop.germ_days }}#}
                </div>
                <div id="water-date">
                    Last watered: {{ water.date|default:"Never" }}
                </div>
                <div id="tray-size">
                    Tray Size: {{ crop.get_tray_size_display }}
                </div>
                {% if harvest %}
                    <div id="harvest-date">
                        Harvested: {{ harvest.date }}
                    </div>
                {% endif %}
                {% if trash %}
                    <div id="trash-date">
                        Trashed: {{ trash.date }}
                    </div>
                {% endif %}
            </div>

            <div class="col-12 col-md-6">
                <div id="current-crop-type">
                    <h2>Current Crop:
                        {% if current_crop %}
                            <a href="/crop/{{ current_crop.id }}/" id="link-crop-details"> {{ current_crop.variety.name }}</a>
                        {% else %}
                            None
                        {% endif %}</h2>
                </div>

                {% if current_crop %}
                    <form id="form-water-crop" action="/slot/{{ slot_id }}/action/water" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="submit" value="Water The Crop" name="record-watered-crop"
                                   class="btn btn-primary btn-lg" id="form-record-watered-crop-submit"/>
                        </div>
                    </form>

                    <form id="form-harvest-crop" action="/slot/{{ slot_id }}/action/harvest" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input id="form-harvest-tray-submit" type="submit" value="Harvest The Crop"
                                   class="btn btn-primary btn-lg"/>
                        </div>
                    </form>
                    <h3>Trash the Crop</h3>
                    <form action="/slot/{{ slot_id }}/action/trash" method="post" id="form-record-dead-crop">
                        {% csrf_token %}

                        <div class="form-group">
                            <textarea name="reason-for-trash-text" id="form-record-dead-crop-reason"
                                      form="form-record-dead-crop" placeholder="E.g.: Eaten by Desi"></textarea>
                        </div>
                        <input type="submit" value="Trash The Crop" id="form-record-dead-crop-submit"
                               class="btn btn-primary btn-lg"/>
                    </form>
                {% endif %}

            </div>
        </div>
        <div class="col-12">
            {% if current_crop %}
                <form id="form-crop-notes" action="/crop/{{ current_crop.id }}/record_notes" method="POST">
                    {% csrf_token %}
                    {{ notes_form.as_p }}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input id="crop-notes-form-submit" class="btn btn-primary" type="submit" value="Submit">
                </form>
            {% else %}
                <p id="empty-slot">Would you like to
                    <a id="link-new-crop" href="{% url 'create_crop' %}">place a new crop</a> here?</p>
            {% endif %}
        </div>
        <br>
        <div id="crop-history" class="col-12">
            {% if history %}
            <h1>Crop History</h1>
            <table id="records" class="table">
                <tr>
                    <th>Date</th>
                    <th>Record Type</th>
                    <th>Note</th>
                </tr>
                {% for record in history %}
                    {% if edit and record_id == record.id %}
                        <form id="form-edit-crop-record" action="/record/{{ record.id }}/edit" method="POST">
                            {% csrf_token %}
                            <tr>
                                <td width='20%'><input id="form-edit-crop-record-date" value="{{ record.date }}" name="date"/></td>
                                <td width='30%'>{{ record.get_record_type_display }}</td>
                                <td width='40%'><textarea name="note" id="form-edit-crop-record-note" form="form-edit-crop-record">{{ record.note }}</textarea></td>
                                <td width='5%'><input id="form-edit-crop-record-submit" type="submit" class="btn btn-primary" value="Save"/></td>
                                <td width='5%' id="cancel_edit"><a href="/crop/{{ crop.id }}/">Cancel</a></td>
                            </tr>
                        </form>
                    {% else %}
                        <tr>
                        <td width='20%'>{{ record.date }}</td>
                        <td width='40%'>{{ record.get_record_type_display }}</td>
                        <td width='40%'>{{ record.note|default:"None" }}</td>
                    {% endif %}
                {% if not edit %}
                    <td width='5%' id="edit_record_{{ record.id }}"><a href="/crop/{{ crop.id }}/?edit=True&id={{ record.id }}">Edit</a></td>
                    <td width='5%' id="delete_record_{{ record.id }}"><a href="/record/{{ record.id }}/delete">Delete</a></td>
                {% endif %}
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "barcode/barcodeEvent.js" %}"></script>
    <script src="{% static "barcode/slotDetailController.js" %}"></script>
{% endblock %}