<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Move Tray</title>
</head>
<body>
<h1>Move Tray</h1>
<div id="current-slot-id">
    Current Slot ID: {{ slot_id }}
</div>
<form id="form-move-tray" method="post">
    <select id="form-slot-destination-id" name="slot-destination-id">
        {% for slot in available_slots %}
            <option>{{ slot.id }}</option>
        {% endfor %}
    </select>
    <input id="form-move-tray-submit" value="Move Tray" type="submit">
</form>
</body>
</html>