<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<h2>Welcome to Boston Microgreens</h2>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>
            <label>Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password">
        </p>
        <button type="submit">Login</button>
    </form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

<p>Not registered? <a href="{% url 'sign_up' %}">Sign Up</a></p>

</body>
